{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": ["warn", "never"],
    "quotes": ["warn", "single"],
    "object-curly-spacing": ["warn", "always"],
    "react/prop-types": [0]
  }
}
